* {
    box-sizing: border-box;
}

.hide{
    display: none;
}

@media screen and (max-width: 1020px){
    .headerBar{
        overflow: hidden;
        top: 0;
        height: 10%;
        width: 100%;
        position: fixed;
        background-color: white;
    }

    .menuIcon{
        float: left;
        width: 33.33333%;
        text-align: left;
    }

    .pageName{
        float: left;
        width: 33.33333%;
        text-align: center;
        font-size: 3em;
    }

    .userIcon{
        float: left;
        width: 33.33333%;
        text-align: right;
    }

    .headerIcon{
        padding-right: 20%;
        padding-left: 20%;
        padding-top: 10%;
        width: 80%;
    }

    .tabsBar{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 10%;
        bottom: 15%;
    }

    .tab{
        width: 50%;
        background-color: #0079cf;
        border: none;
        color: white;
        padding: 2%;
        text-align: center;
        font-size: 3em;
        cursor: pointer;
        float: left;
    }

    .teal{
        background-color: teal;
    }

    .stats{
        position: absolute;
        font-size: 3em;
        top: 15%;
        bottom: 100%;
    }

    .leftAnimate{
        position:relative;
        animation:animateleft 0.4s;
    }

    @keyframes animateleft{
        from{
                left: -300px;
                opacity: 0;
            } 
        to{
            left: 0;
            opacity: 1;
        }
    }

    .rightAnimate{
        position: relative;
        animation: animateright 0.4s;
    }

    @keyframes animateright{
        from{
                right: -300px;
                opacity: 0;
            } 
        to{
            right: 0;
            opacity: 1;
        }
    }

    .menuOverlay{
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: rgba(255, 255, 255, 0.8);
    }

    .menuContent{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 5em;
        text-align: center;
        color: teal;
    }

    a:link {
        color: teal;
        text-decoration: none;
    }

    a:visited {
        color: teal;
        text-decoration: none;
    }

    .close {
        color: black;
        float: right;
        padding-right: 10%;
        padding-top: 4%;
        font-size: 5em;
        font-weight: bold;
    }

    .content{
        position: absolute;
        top: 10%;
        margin: 0;
        font-size: 3em;
        background-color: blue;
    }

    .inputbox{
        width: 500px;
        padding: 20px 25px;
        margin: 8px 0;
        font-size: 1em;
    }

    .btn{
        background-color: #0079cf;
        border: none;
        color: white;
        text-align: center;
        font-size: 2em;
    }

    .leftBtn{
        width: 33.33333%;
        float: left;
    }

    .rightBtn{
        width: 33.33333%;
        float: right;
        background-color: gray;
    }

    .adminBtn{
        position: relative;
        top: 1em;
        width: 100%;
        background-color: navy;
    }

    table{
        width: 100%;
    }

    .tbl{
        font-size: 1em;
    }

    .userOverlay{
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 20%;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; 
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .userOverlayContent{
        font-size: 2em;
        background-color: #fefefe;
        margin: auto;
        padding: 15%;
        border: 1px solid #888;
        width: 90%;
    }

    #Right{
        display: none;
    }
}